.form-container {
	width: 95%;
	margin-top: 20px;
	background-color: white;
	padding: 30px 20px;
	border-radius: 10px;
	border: 1px solid rgb(211, 211, 211);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.error_msg {
	width: 100%;
	padding: 5px;
	margin: 5px 0 10px;
	font-size: 14px;
	background-color: #ffd1d1;
	border: 1px solid #f34646;
	color: red;
	border-radius: 5px;
	text-align: center;
}

.comment {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	font-size: 90%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.status-select,
.options {
	width: 100%;
	padding: 3px;
}

.details-contract-form-table {
	width: 100%;
}

.update-back-link, 
.update-cancel-link, 
.update-submit-btn {
	text-decoration: none;
	padding: 8px 12px !important;	
}

.update-submit-btn {
	border-radius: 0;
	cursor: pointer;
	width: 90px;
	margin: 0;
}

.update-submit-btn:hover {
	background-color: rgb(0, 102, 162);
}

.update-cancel-link {
	background-color: rgb(151, 151, 151);
	color: black;
}

.update-cancel-link:hover {
	background-color: rgb(223, 223, 223);
	color: black;
}

.update-back-link {
	background-color: black;
	color: white;
}

.update-back-link:hover {
	background-color: rgb(60, 60, 60);
}

.detail-values {
	border-bottom: 1px solid rgb(195, 195, 195);
}

.button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 40px;
}

.next-to-update-btn, .details-back-btn {
	text-decoration: none;
	padding: 8px 12px;
	color: white;
	border-radius: 5px;
}

.next-to-update-btn {
	background-color: blue;
}

.details-back-btn {
	background-color: brown;
}

.checkin_details_container {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(223, 223, 223);
	padding: 7px;
	border-radius: 5px;
	flex-wrap: wrap;
}

.detail-titles, .detail-info {
	height: 90%;
}

.detail-titles {
	width: 20%;
}
.detail-info {
	width: 60%;
}