.contractdetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
	border-radius: 10px;
	border: 1px solid rgb(209, 209, 209);
    width: 95%;
    margin-top: 20px;
    background-color: white;
}

.contractdetails-space {
    padding-top: 40px;
}

.the-date {
    font-weight: 400;
}

.contract-date {
    margin-bottom: 20px;
}

.td {
    background-color: white !important;
}

.contractdetails-space {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(223, 223, 223);
	padding: 7px;
	border-radius: 5px;
	flex-wrap: wrap;
    font-size: 90%;
}

.detail-titles, .detail-info {
	height: 90%;
}

.detail-titles {
	width: 20%;
    font-weight: bold;
}
.detail-info {
	width: 60%;
}