.contracts_container {
	background-color: rgb(140, 224, 140);
	width: 65%;	
	z-index: 9999;
	position: fixed;
	left: 200px;
}

.new_contract_link, 
.listofcontracts,
.titleBar {
	display: flex;
	flex-direction: row;
	align-items: center
}

.titleBar {

}

.titleText {
	font-weight: 900;
}

.new_contract_link {
	justify-content: space-between;
}

.listofcontracts {
	padding: 20px;
	justify-content: flex-start;
}

.acontract {
	width: 100px;
	height: 100px;
	background-color: white;
	color: black;
	border: 1px solid black;
	margin-bottom: 20px;
}
