.contracts_container {
	padding: 20px 40px;
	background-color: white;
	width: 97%;
	border-radius: 10px;
	border: 1px solid rgb(216, 216, 216);
	margin-top: 20px;
}
 
.content_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-top: 10px;
}

.settings_list {
	width: 45%;
	background-color: rgb(226, 226, 226);
	overflow-y: scroll;
	height: 400px;
}

.setting_form {
	height: 100%;
	width: 45%;
	background-color: white;
}

h3 {
	background-color: white !important;
	color: black !important;
	border: none !important;
	text-align: left !important;
	padding: 0 0 20px !important;
}

.a_setting {
	background: whitesmoke;
	padding: 5px 20px;
	font-size: 90%;
	margin: 0 0 5px;
	border-top: 1px solid rgb(165, 165, 165);
}

.a_setting:hover {
	background: rgb(255, 255, 255);
}

.modificaiton_buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
	width: 5%;
}

.modificaiton_buttons button {
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: black;
	font-size: 16px;
	cursor: pointer;
}

.modificaiton_buttons button:hover {
	color: rgb(255, 162, 0);
}

.data {
	display: flex;
	flex-direction: row;
}

.a_setting .s_left, .a_setting .s_right {
	width: 45%;
}

.a_setting .s_left p span,  
.a_setting .s_right p span {
	display: block;
	font-size: 85%;
	color: gray;
}

.a_setting .s_left p, 
.a_setting .s_right p {
	margin: 0 0 5px;
}

.setting_form {
	height: 100%;

}

.input_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10px;
}

.input_container label {
	font-size: 90%;
	color: gray;	
	margin-bottom: 5px;
}

.input_container input, 
.input_container select {
	width: 100%;
	padding: 5px;
	border: 1px solid gray;
	font-size: 90%;
	color: black;
	border-radius: 2px !important;
}

.input_error {
	font-size: 90%;
	color: tomato;
}

.command_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.command_buttons input,
.command_buttons button {
	color: white;
	border-radius: 2px !important;
	border: none;
	padding: 8px 12px !important;
	width: 100px !important;
	font-weight: 700;
	margin: 0 !important;
}

.command_buttons input:hover,
.command_buttons button:hover {
	color: white;
	background-color: orange;
}

.command_buttons input {
	background-color: rgb(0, 0, 66);
}

.command_buttons button {
	background-color: rgb(0, 0, 0);
}

.otherError,
.successMessage {
	padding: 8px 12px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 90%;
}

.otherError {
	background-color: white;
	color: tomato;
	border: 1px solid tomato;
}

.successMessage {
	background-color: white;
	color: green;
	border: 1px solid green;
}

